<div class="card" *ngIf="estadoList.length > 0">
  <h1>Estados</h1>
  <p-table [value]="estadoList" selectionMode="single" dataKey="code">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>População</th>
        <th>Custo Populacional</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-estado>
      <tr [pSelectableRow]="estado" (click)="onEstadoSelect(estado)">
        <td>{{estado.nome}}</td>
        <td>{{estado.qtdPopulacao}}</td>
        <td>{{estado.custoPopulacional | currency: 'BRL'}}</td>
      </tr>
    </ng-template>
  </p-table>

  <div *ngIf="bandeiraImg" class="background-bandeira d-flex justify-content-center">
    <img [src]="bandeiraImg" style="height: 200px; margin-top: 20px; margin-bottom: 20px">
  </div>
</div>
