/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table tr.active td {
  background-color: #a2bcc9 !important;
  color: white;
}

.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
